- var css = 'main.css'
- var js = 'main.js'
- var jsExt = 'https://cdnjs.cloudflare.com/ajax/libs/hyperapp/0.9.3/hyperapp.js'
doctype html
html(lang='en')
  head
    link(rel='manifest', href='manifest.json')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title HN :: hyperapp + bourbon
    meta(name='theme-color', content='#000000')
    link(rel='shortcut icon' href='favicon.ico')
    link(rel='preload', as='style' href=css)
    link(rel='stylesheet' href=css)
    link(rel='preload', as='script' href=jsExt)
    link(rel='preload', as='script' href=js)
  body
    header.navigation(role='banner')
      nav
        ul.main
          li
            a.selected(href='/') Top
          li
            a(href='/newest/1') New
          li
            a(href='/ask/1') Ask
          li
            a(href='/show/1') Show
          li
            a(href='/jobs/1') Jobs
    #container
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
    script(src=jsExt)
    script(src=js)
