//@import "bourbon/bourbon";
//@import "neat/neat";

html {
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}

$sans-serif: "PT Sans", sans-serif;
body {
  margin: 0;
  background: #000000;
  color: #ffffff;
  font-family: $sans-serif;
}

// $grid-columns: 12;
// @for $i from 1 through $grid-columns {
//   .col-#{$i} {
//     @include grid-column($i);
//   }
// }
$action-color: #477DCA !default;

header nav {
  $dark-gray: #333 !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 4em;

  position: fixed;
  top: 0;
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    line-height: $navigation-height;
    display: inline;
    padding-right: 0.8em;
    a {
      color: $navigation-color;
      text-decoration: none;
      padding-right: 1em;
      &.selected {
        color: $action-color;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
}

#container {
  margin-top: 4.5em;
}

.content {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
  min-height: 4em;
  color: darken(#ffffff, 25);
  border-bottom: 1px solid #333;
  margin-top: .5em;
  margin-bottom: .5em;
  a {
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    width: calc(100% - 4em);
    &:hover {
      text-decoration: underline;
    }
  }
  .points {
    float: left;
  }
  .points {
    font-weight: bold;
    width: 2em;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    padding: 0 .4em;
    color: $action-color;
  }
  .info {
    float: left;
    width: calc(100% - 4em);
  }
  @media (min-width: 50em) {
    .title {
      a {
        font-size: 1.5em;
      }
      .domain {
        margin-left: 1em;
      }
    }
  }
  .stats {
    margin-top: .5em;
    font-size: .9em;
  }
}
